/*
==========================================================================
  Tyography
========================================================================== 
*/
/* Inter */
@font-face {
  font-family: 'inter';
  src: url('fonts/Inter/inter-regular-webfont.woff2') format('woff2'),
       url('fonts/Inter/inter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'inter';
  src: url('fonts/Inter/inter-semibold-webfont.woff2') format('woff2'),
       url('fonts/Inter/inter-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'inter';
  src: url('fonts/Inter/inter-bold-webfont.woff2') format('woff2'),
       url('fonts/Inter/inter-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}
/* TODO: DELETE OPEN SANS  */
/* open sans */
@font-face {
  font-family: "opensans";
  src: url("fonts/open-sans/opensans-regular-webfont.woff2") format("woff2"),
       url("fonts/open-sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "opensans";
  src: url("fonts/open-sans/opensans-bold-webfont.woff2") format("woff2"),
       url("fonts/open-sans/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}

/*
==========================================================================
  Generic
========================================================================== 
*/
:root {
  --vertical-padding: 5rem;
  --color-purple: #7d2ae8;
  --color-darkgrey: #333;
  --color-deepblue: rgb(13, 44, 222);
  --border-color: #ccc;
  --border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* font-family: 'opensans', Arial, Helvetica, sans-serif; */
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 6rem;
  margin: 1.3rem 0 2rem;
  line-height: 1.1;
  font-weight: 700;
}

.fluid {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
}

/*
==========================================================================
  block
========================================================================== 
*/
.block {
  padding: var(--vertical-padding) 2rem;
}

.blockBlack {
  background-color: #000;
  color: #b9c3cf;
}

.blockSkew--left {
  /* TODO: make the shape more skewed for larger screens */
  clip-path: polygon(0 0,100% 0,100% 95%,0 100%);
  padding-bottom: calc(var(--vertical-padding) + 4rem);
}

/*
==========================================================================
  list
========================================================================== 
*/
.list {
  list-style: none;
  padding-left: 0;
}

/*
==========================================================================
  links
========================================================================== 
*/
.link {
  text-decoration: none;
}

/*
==========================================================================
  btn
========================================================================== 
*/
.btn {
  display: inline-block;
  border: 0;
  border-radius: 40px;
  outline: 0; 
  font-size: 1.8rem; 
  font-weight: 600;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.btnDeepblue {
  background-color: var(--color-deepblue);
  color: #fff;
  transition: background-color 0.25s;
}

.btnDeepblue:hover {
  background-color: rgb(17, 13, 222);
}

.btnStretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*
==========================================================================
  grid
========================================================================== 
*/
.grid {
  display: grid;
}

@media screen and (min-width: 720px) {
  .grid--1x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }  
}

/*
==========================================================================
  hero
========================================================================== 
*/
.hero {
  text-align: center;
}

.hero .grid {
  justify-items: center;
}

.hero h1 {
  color: #fff;
  letter-spacing: 0.3rem;
}

.heroHeader {
  margin-bottom: 4rem;
}

.hero__tagline {
  font-size: 2rem;
  margin: 3rem 0 4rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 720px) {
  .hero {
    text-align: left;
  }
  
  .hero .grid {
    align-items: center;
  }
}

/*
==========================================================================
  navbar
========================================================================== 
*/
.navBar {
  background-color: #fff;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  border-bottom: 2px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navBrand {
  display: none;
}

.navItem {
  padding: 0.5rem 0;
}

.navItem .fa-solid {
  margin-right: 0.4rem;
}

@media screen and (min-width: 500px) {
  .navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navItem {
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .navBar {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navBrand {
    display: inline-block;
  }
}

/*
==========================================================================
  forms
========================================================================== 
*/
.formBg {
  background: url(../images/background.svg);
  background-size: 300vw;
  position: relative;
}

input[type="text"],
input[type="email"] {
  padding: 1.5rem 3rem;
  outline: 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--color-darkgrey);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;  
  transition: border 0.25s;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 1px solid var(--color-purple);
}

label {
  display: block;
  margin-bottom: 0.7rem;
  color: var(--color-darkgrey);
  font-weight: 600;
  cursor: pointer;
}

.formGroup {
  margin-bottom: 2.4rem;
}

/* input group */
.inputGroup {
  display: flex;
  margin: 2rem 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: border-color 0.25s;
}

.inputGroup:focus-within {
  border: 1px solid var(--color-purple);
}

.inputGroup input {
  flex-grow: 1;
  border: 0;
  padding: 1.5rem 2rem;
  width: 0;
}

.inputGroup input:focus {
  border: 0;
}

@media screen and (min-width: 500px) {
  .formBg {
    background-size: auto;
  }
}

/*
==========================================================================
  badge
========================================================================== 
*/

.badge {
  display: inline-block;
  /* border-radius: var(--border-radius); */
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.badgeDeepblue {
  background-color: var(--color-deepblue);
  color: #fff;
}

.badgeRed {
  background-color: rgb(255, 52, 0);
  color: #fff;
}

.badgeGreen {
  background-color: rgb(33, 209, 63);
  color: #fff;
}
.badgePurple {
  background-color: var(--color-purple);
  color: #fff;
}
.badgeYellow {
  background-color: rgb(228, 201, 31);
  color: #fff;
}
