<span class="iconContainer">
  <svg class="icon">
    <use xlink:href="css/sprite.svg#gamepad"></use>
  </svg>
</span>
<span class="iconContainer">
  <svg class="icon">
    <use xlink:href="css/sprite.svg#football"></use>
  </svg>
</span>
<span class="iconContainer">
  <svg class="icon">
    <use xlink:href="css/sprite.svg#chess"></use>
  </svg>
</span>
<span class="iconContainer">
  <svg class="icon">
    <use xlink:href="css/sprite.svg#tableTennis"></use>
  </svg>
</span>
<span class="iconContainer">
  <svg class="icon">
    <use xlink:href="css/sprite.svg#badminton"></use>
  </svg>
</span>
<span class="iconContainer">
  <svg class="icon">
    <use xlink:href="css/sprite.svg#throwBall"></use>
  </svg>
</span>
<span class="iconContainer">
  <svg class="icon">
    <use xlink:href="css/sprite.svg#tugOfWar"></use>
  </svg>
</span>
<span class="iconContainer">
  <svg class="icon">
    <use xlink:href="css/sprite.svg#armWrestling"></use>
  </svg>
</span>
